.row.col
  %h1 Players
.row.col.my-3
  %h3 Search by:
  =search_form_for @q do |f|
    .form-group.row.ml-4
      .col=f.search_field :name_eq, :class => "form-control", :placeholder => "name"
      .col=f.search_field :PDGA_num_eq, :class => "form-control", :placeholder => "PDGA number", :default => "0"
      .col.pl-0
        =link_to "x", users_path
        =f.submit :class => "btn btn-primary btn-sm ml-3"
.row.col
  -unless @q_empty
    .list-group
      -@results.each do |user|
        %li.list-group-item
          -if user.PDGA_num.present?
            =link_to "#{user.name}, #{user.PDGA_num}", user
          -else
            =link_to "#{user.name}", user
  -if @results.blank?
    %p No users found
  
.row
  .col-4.text-center
    .card
      .card-header.text-center
        Featured
      .card-body
        %ul.list-group
          -@featured.each do |user|
            %li.list-group-item
              =link_to "#{user.name}", user
  .col-4.text-center
    .card
      .card-header.text-center
        Most Followed
      .card-body
        %ul.list-group
          -@most_followed.each do |user|
            %li.list-group-item
              =link_to "#{user.name}", user
  .col-4.text-center
    .card
      .card-header.text-center
        Following
      .card-body
        %ul.list-group
          -@following.each do |user|
            %li.list-group-item
              =link_to "#{user.name}", user
