= form_with(model: disc, local: true) do |form|
  .form-row
    .col-9
      .form-group.ml-1
        = form.file_field :picture, class: "form-control-file"
      .form-row.my-2
        .col-6.col-sm-4
          .form-group
            = form.text_field :plastic_type, :class => "form-control", :placeholder => "plastic type"
        .col-6.col-sm-4
          .form-group
            = form.text_field :model, :class => "form-control", :placeholder => "mold"
        .col-6.col-sm-4
          .form-group
            = form.text_field :brand, :class => "form-control", :placeholder => "brand"
        .col-6.col-sm-4
          .form-group
            = form.text_field :nickname, :class => "form-control", :placeholder => "nickname" 
      .form-row
        .col-12.mb-2
          Flight numbers:
      .form-row
        .col-6.col-sm-2
          .form-group
            = form.text_field :speed, :class => "form-control", :placeholder => "speed"
        .col-6.col-sm-2
          .form-group
            = form.text_field :glide, :class => "form-control", :placeholder => "glide"
        .col-6.col-sm-2
          .form-group
            = form.text_field :turn, :class => "form-control", :placeholder => "turn"
        .col-6.col-sm-2
          .form-group
            = form.text_field :fade, :class => "form-control", :placeholder => "fade"
      .form-row
        .col-6.col-sm-2
          Weight:
          .form-group
            = form.text_field :weight, :class => "form-control", :placeholder => "(g)"
        .col-6.col-sm-2
          Condition: 
          .form-group
            = form.select :condition, (1..10), {}, class: "form-control"
        .col-6.col-sm-4
          Color:
          .form-group
            = form.select :color, Disc::COLORS, {}, :class => "form-control"
        .col-6.col-sm-4
          Flight Chart ID:
          =link_to "?", flight_chart_explanation_discs_path, class: "btn btn-sm btn-primary btn-small p-0"
          .form-group
            =form.text_field :flight_chart_id, class: "form-control"
    .col-3.mb-auto
      -if @disc.picture.attached?
        =render "shared/display_disc_picture", disc: @disc
  .form-row
    .col-12.col-sm-9
      Description: 
      .form-group
        = form.text_area :description, :class => "form-control", :placeholder => "What's special about this disc?"
    .col-6.col-sm-3.mt-5
      .form-row
        = link_to 'Cancel', discs_path, :class => "btn btn-danger mx-auto"
        = form.submit :Finish, :class => "btn btn-success mx-auto"