!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title InTheBag
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      %nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.text-white
        .navbar-brand 
          = link_to "In The Bag", root_path, :class => "navbar text-light"

        #navbarSupportedContent.collapse.navbar-collapse
          %ul.navbar-nav.ml-auto
            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link.dropdown-toggle.text-light.my-3{"data-toggle" => "dropdown", :href => "#"} My Collection
              .dropdown-menu
                .dropdown-item 
                  =link_to "Discs", discs_path
                .dropdown-item
                  =link_to "Bags", bags_path
            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link.dropdown-toggle.text-light.my-3{"data-toggle" => "dropdown", :href => "#"} Trading
              .dropdown-menu
                .dropdown-item 
                  =link_to "See all offers", offers_path
                .dropdown-item
                  =link_to "Make an offer", new_offer_path
            %li.nav-item.m-3
              = link_to "Users", users_path, :class => "navbar text-light"
            %li.nav-item.m-3
              Messages
            %li.nav-item.m-3
              -if current_user
                =link_to "Account", edit_user_path(current_user), :class => "navbar text-light"
              -else
                =link_to "Account", "", :class => "navbar text-light"
            %li.nav-item.m-3
              = link_to "Logout", destroy_user_session_path, method: :delete, :class => "navbar text-light"
      .text-danger.text-center
        - flash.each do |name, msg|
          %strong= content_tag :div, msg, class: name
      = yield
